/* .cart table {
    width: 100%;
    margin-bottom: 10px;
}

.cart tr {
    margin-bottom: 10px;
}

.cart td {
    width: 250px;
    margin-bottom: 10px;
} */
.cart {
    grid-row: 2;
}

.cart .item {
    display: flex;
    align-items: center;
    width: 90vw;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.cart .ticket-date {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart .ticket-info {
    width: 40vw;
    margin-left: 10px;
}

.cart button {
    margin-left: auto;
    margin-right: 10px;
}

.cart .quantity {
    display: flex;
    margin-right: 20px;
}

.cart .quantity input {
    width: 50px;
    margin-left: 5px;
}

.cart .subtotal {
    font-weight: bold;
}