.navbar {
    grid-row: 1;
    display: flex;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.navbar .links {
    margin-left: auto;
    margin-right: 10px;
}

.navbar .link {
    font-weight: bold;
    margin-left: 20px;
}

#nav-search {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #5720ee;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 50px;
    padding-left: 15px;
    padding-right: 5px;
    background-color: lightblue;
    line-height: 50px;
    width: fit-content;
}

.logo-end {
    height: 0;
    width: 0;
    border-right: 22px solid transparent;
    border-top: 50px solid lightblue;

}